body {
    padding-top: 56px;
    /* Adjust for fixed navbar */
    background-color: #F4AF69;
    background-image: url(https://images.pexels.com/photos/5678094/pexels-photo-5678094.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);

}


.bg-dark {
    background-color: #F8CE74 !important;
}

.btn-primary,
.btn-info {
    color: #fff;
    background-color: #FD6D78;
    border-color: #F9A962;
}

.btn-outline-secondary {
    border-color: #F9A962;
}

.btn-outline-secondary:hover,
.btn-info:hover,
.btn-primary:hover {
    background-color: purple;
    transition: 0.7s;
}


h1,
h2 {
    color: #fff;
}

.hero-search-bar {
    background-size: cover;
    background-position: center;
    color: rgb(32, 21, 21);
    /* Adjust text color for better visibility */
    padding: 5px 0;
    /* Adjust padding based on your image and content */
    text-align: center;

}

.jumbotron {
    background-color: #EFCD91;
}

.input-group {
    justify-content: space-around;
}

.card-body h2,
ul,
li {
    color: rgb(127, 8, 8) !important;
}

.card-body {
    padding: 3.25rem;
}

*, ::after, ::before {
    box-sizing: content-box;
}